* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    align-content: space-around;
}

#top-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
}

textarea {
    display: flex;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}